@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  /* background: #141414; */
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}
